.App {
  text-align: center;
}

.main-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.black-button{
    width: 20%;
    height: auto;
    color: #fff;
    text-align: center;
    background-color: #190b14;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: Space Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 500;
    /* position: absolute; */
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.common-label{
    width: 20%;
    height: auto;
    color: #fff;
    text-align: center;
    background-color: #190b14;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: Space Grotesk, sans-serif;
    font-size: 16px;
    font-weight: 500;
    /* position: absolute; */
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
.common-input{
  width: 40%;
  height: auto;
  /* color: #fff; */
  text-align: center;
  /* background-color: #190b14; */
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* position: absolute; */
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}



